<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Thegardenofeat'n.com | About us</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/CSS/aboutus.css">
</head>
<body>
    <header>
        <div id="name">
            <h3><a href="/">the <span> garden </span> of eat'n</a></h3>
        </div>
        <nav id="navbar">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about-us">about us</a></li>
                <li><a href="/book-table">book a table</a></li>
                <li><a href="/contact-us">contact us</a></li>
                <li><a href="/join-us">join us</a></li>
                
                <% if (locals.user) { %>
                    <li class="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>

                    <li class="dropdown">
                        <figure>
                            <img id="profileImg" class="profileImg" src="<% if (user.profileImg ) { %>
                                <%= user.profileImg %>  
                            <% } else { %> Icons/username-icon.png <% } %> " id="chosen-image">
                        </figure>

                        <div class="dropdown-content display-none">
                            <a href="/profile">edit profile</a>
                            <a href="">your orders</a>
                            <a href="">membership</a>
                            <a href="">services</a>
                            <a href="">settings</a>
                            <form action="/logout" method="post">
                                <button>
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    logout
                                </button>
                            </form>
                        </div>
                    </li>

                    <% } else { %>
                        <li><a href="/login">login</a></li>
                        <li class="signup"><a href="/signup">sign up</a></li>
                    <%}%>
            </ul>
        </nav>
    </header>

    <section class="aboutus">
        <div class="left">

        </div>
        <div class="right">
            <h3>about us</h3>
            <p>Welcome to The Garden of Eat'n, a culinary haven nestled in the heart of Bhopal, brought to life by the vision of Abhishek Kumar Mishra, an ambitious student of LNCT College. As a budding entrepreneur with a passion for gastronomy, Abhishek has transformed his dream into a reality, and The Garden of Eat'n is his ode to the art of good food.</p>

            <p>At The Garden of Eat'n, we believe in creating an immersive dining experience that transcends the ordinary. Our restaurant is not just a place to eat; it's a haven for food enthusiasts seeking a symphony of flavors and a haven for those who appreciate the artistry that goes into every dish. Abhishek's commitment to excellence and his love for culinary innovation are the driving forces behind this exciting new venture.</p>

            <p>Step into our restaurant, and you'll find yourself surrounded by an ambiance that seamlessly blends modern aesthetics with a touch of nature. The soothing hues and tasteful decor create an inviting atmosphere, inviting you to relax and savor the moment. The Garden of Eat'n is more than just a place to dine; it's an escape from the ordinary, a retreat where every meal is an adventure.</p>
            
            <p>As we embark on this exciting journey, we invite you to join us at The Garden of Eat'n. Come, be a part of our story, and let us delight your senses with an unforgettable culinary experience. Abhishek Kumar Mishra and the entire team eagerly await the pleasure of serving you at our haven of gastronomic delight – where every bite is a celebration of flavor, and every moment is an exploration of the extraordinary <span>...</span></p>

            <p class="more-aboutus-text display-none">Our culinary philosophy revolves around using the freshest, locally sourced ingredients to craft dishes that tantalize the taste buds. Abhishek's commitment to sustainability and supporting local farmers is reflected in our menu, which boasts a diverse array of dishes inspired by global cuisines. Whether you're craving comforting classics or daring to explore bold, new flavors, our menu has something for every palate.</p>

            <p class="more-aboutus-text display-none">The Garden of Eat'n is not just a restaurant; it's a community hub where people come together to celebrate the joy of sharing a meal. Our dedicated team, led by Abhishek Kumar Mishra, strives to provide impeccable service, ensuring that every guest leaves with a satisfied smile. We value the connections we build with our patrons and aspire to be more than just a dining destination – we aim to be an integral part of the community.</p>

            <button id="readMoreBtn">read more...</button>

        </div>
        
    </section>

    <footer>
        Copyright &copy <span id="foot"></span> Thegardenofeat'n.com All Rights Reserved
    </footer>

</body>

<script src="/JS/aboutus&Contactus.js" defer></script>

</html>