<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Thegardenofeat'n.com | Home</title>

    <!--
        HEAD TEMPLATE
    -->

    <%- include("./Header&Footer/headTemplate.ejs") %>

    <!--
        CUSTOM CSS LINKS
    -->

    <link rel="stylesheet" href="/CSS/Header&Footer/header.home.css">
    <link rel="stylesheet" href="/CSS/Header&Footer/footer.css">
    <link rel="stylesheet" href="/CSS/HomePage/home.mobile.css">
    <link rel="stylesheet" href="/CSS/HomePage/home.pc.css">

    <!--
        - preload images
    -->

    <%- include("./MetaTags/preloadImages.home.ejs") %>

</head>

<body>

    <!--
        - PRELOAD
    -->
    <div class="preload" data-preload>
        <div class="circle"></div>
        <p class="text">TheGardenOfEat'n</p>
    </div>

    <!--
        HEADER
    -->

    <%- include("./Header&Footer/header.home.ejs")  %>

    <!--
        BODY
    -->

    <%- include("./HomePage/home.body.ejs") %>

</body>

<script src="/JS/header.home.js" defer></script>
<script src="/JS/home.js" defer></script>

</html>