<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/home.css">
    <title>Thegardenofeat'n.com | Home</title>
</head>

<body>
    <div id="blur" class="">
        <header>
            <div>
                <div id="restoname">
                    <h2>the <span> garden </span> of eat'n</h2>
                </div>
                <div class="bottom">
                    <div class="circle"></div>
                    <div class="rod"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="navbar">
                <div class="searchbar" onclick="">
                    <label for="search">
                        <!-- onkeyup="searchfor()" -->
                        <!-- <div class="search-icon"><img src="../Icons/search-line-icon.png" alt=""></div> -->
                        <input type="text" name="searchbar" id="search" onkeyup="searchfor()" onfocus="this.value=''"
                            placeholder="Hungry! Order Now" title="Type in a category">
                        <div class="voice-search"><img src="../Icons/mic-microphone-icon.png" alt=""></div>
                    </label>
                </div>
                <div>
                    <ul>
                        <li><a href="/home">home</a></li>
                        <li><a href="#">book a table</a></li>
                        <li><a href="#">contact us</a></li>
                        <li><a href="/joinus">join us</a></li>
                        <li>
                            <div class="dropdown">
                                <p>profile</p>
                                <div class="dropdown-contents">
                                    <a href="/profile">edit profile</a>
                                    <a href="#">orders</a>
                                    <a href="#">settings</a>
                                    <form action="/logout" method="post"><button class="logout-btn">logout</button></form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <section id="searchmenu">
            <ul class="searchmenu notactive">

            </ul>
        </section>

        <section id="menu-section">
            <h2><button>OUR MENU</button></h2>
            <div class="menu-dropdown">
                <div>
                    <ul class="container"><a href="#coffee">Coffee</a>
                        <li>Hot Coffee</li>
                        <li>Special Cold Coffee</li>
                        <li>Nescafe</li>
                    </ul>
                    <ul class="container"><a href="#soup">Soup</a>
                        <ul><a href="#soup">Veg</a>
                            <li>Tomato Soup</li>
                            <li>Veg Soup</li>
                            <li>Veg Noodles Soup</li>
                            <li>Veg Hot and Sour Soup</li>
                            <li>Veg Manchow Soup</li>
                            <li>Veg Sweeet Corn Soup</li>
                            <li>Veg Clear Soup</li>
                            <li>Mushroom Soup</li>
                        </ul>
                        <ul><a href="#soup">Non Veg</a>
                            <li>Tomato Egg Soup</li>
                            <li>Egg Sweet Corn Soup</li>
                            <li>Chicken Soup</li>
                            <li>Chicken Sweet Corn Soup</li>
                            <li>Chicken Noodles Soup</li>
                            <li>Mutton Soup Soup</li>
                        </ul>
                    </ul>
                    <ul class="container"><a href="#snacks">Snacks</a>
                        <li>Vegetable Cutlet</li>
                        <li>Cheese Cutlet</li>
                        <li>Upma</li>
                        <li>Bread Pakoda</li>
                        <li>Bread with Butter</li>
                        <li>Scrambled Eggs</li>
                    </ul>
                    <ul class="container">
                        <a href="#starters">Starters</a>
                        <li>Veg Manchurian</li>
                        <li>Chilli Mushroom</li>
                        <li>Gobhi Chilli</li>
                        <li>Paneer 65</li>
                        <li>Chicken Manchurian</li>
                        <li>Chilli Chicken</li>
                        <li>Omelette</li>
                    </ul>
                    <ul class="container">
                        <a href="#maincourse">Main Course</a>
                        <ul><a href="#maincourse">Veg</a>
                            <li>Aloo Gobhi</li>
                            <li>Aloo Dum</li>
                            <li>Jeera Aloo</li>
                            <li>Dal Tadka</li>
                            <li>Gobhi Masala</li>
                            <li>Chana Masala</li>
                            <li>Malai Kofta</li>
                            <li>Veg Kofta</li>
                            <li>Matar Paneer</li>
                            <li>Kadhai Paneer</li>
                            <li>Shahi Paneer</li>
                            <li>Paneer Butter Masala</li>
                            <li>Kaju Curry</li>
                            <li>Bhindi Masala</li>
                            <li>Mushroom Curry</li>
                            <li>Mix Veg</li>
                        </ul>
                        <ul><a href="#maincourse">Non Veg</a>
                            <li>Egg Curry</li>
                            <li>Egg Masala</li>
                            <li>Egg Bhurji</li>
                            <li>Chicken Curry</li>
                            <li>Chicken Mughlai</li>
                            <li>Chicken Shahi Korma</li>
                            <li>Butter Chicken</li>
                            <li>Mutton Curry</li>
                            <li>Mutton Masala</li>
                            <li>Mutton Shahi Korma</li>
                            <li>Mutton Mughlai</li>
                            <li>Mutton Kashmiri</li>
                        </ul>
                    </ul>
                    <ul class="container">
                        <a href="#biryani">Biryani</a>
                        <li>Egg Dum Biryani</li>
                        <li>Chicken Dum Biryani</li>
                        <li>Mutton Dum Biryani</li>
                        <li>Paneer Dum Biryani</li>
                        <li>Veg Dum Biryani</li>
                        <li>Paneer Dum Hyderabadi Biryani</li>
                        <li>Veg Dum Hyderabadi Biryani</li>
                    </ul>
                    <ul class="container"><a href="#bread">Bread</a>
                        <li>Tawa Roti</li>
                        <li>Tandoori Ro+ti</li>
                        <li>Rumali Roti</li>
                        <li>Garlic Nan</li>
                        <li>Kulcha</li>
                        <li>Paratha</li>
                        <li>Aloo Paratha</li>
                        <li>Onion Paratha</li>
                    </ul>
                    <ul class="container">
                        <a href="#southindian">South Indian</a>
                        <li>Masala Dosa</li>
                        <li>Sada Dosa</li>
                        <li>Paneer Dosa</li>
                        <li>Rava Masala Dosa</li>
                        <li>Plain Rava Dosa</li>
                        <li>Onion Uttapam</li>
                        <li>Tomato Uttapam</li>
                        <li>Idli Sambar</li>
                        <li>Vada Sambar</li>
                    </ul>
                    <ul class="container">
                        <a href="#chinese">Chinese</a>
                        <li>Chowmein</li>
                        <li>Manchurian</li>
                        <li>Dry Manchurian</li>
                        <li>Fried Rice</li>
                        <li>Spring Roll</li>
                    </ul>
                    <ul class="container">
                        <a href="#drink">Drink</a>
                        <li>Tea</li>
                        <li>Hot Milk</li>
                        <li>Lassi</li>
                        <li>Buttermilk</li>
                        <li>Kesar Thandai</li>
                        <li>Pepsi</li>
                    </ul>
                    <ul class="container">
                        <a href="#dessert">Dessert</a>
                        <li>Gulab Jamun</li>
                        <li>Chocolate Brownie</li>
                        <li>Red Velvet Pastry</li>
                        <li>Chocolate Muffin</li>
                        <li>Milk Cake</li>
                        <li>Ice Cream</li>
                    </ul>

                </div>
            </div>
        </section>

        <section class="items">
            <div id="food-section">
                <div id="advertise">
                    <!-- <p>offers and deals</p> -->
                    <img id="sale" src="../BackgroundImages/sale-706825.jpg" alt="">
                    <img src="../BackgroundImages/240839586d5296dd335d1b515d7b7199.jpg" alt="">
                    <!-- <div class="order"><p>Order Now</p></div> -->
                    <!-- <img src="../BackgroundImages/biryani-platter-7253751_960_720.jpg" alt="">
                    <img src="../BackgroundImages/dish-7158169_960_720.jpg" alt="">
                    <img src="../BackgroundImages/food-366875_1920.jpg" alt="">
                    <img src="../BackgroundImages/side-dish-7078451_960_720.jpg" alt="">
                    <img src="../BackgroundImages/pexels-dhiraj-jain-12737656.jpg" alt="">
                    <img src="../BackgroundImages/rice-4601049_1920.jpg" alt="">
                    <img src="" alt="">
                    <img src="" alt=""> -->
                </div>

                <div id="food-items">
                    
                </div>
            </div>
        </section>

        <section class="footer">
            Copyright &copy <span id="foot"></span> Thegardenofeat'n.com All Rights Reserved
        </section>

    </div>

    <section id="cart-items" class="">
        <div class="your-cart">
            <div class="left">
                <div>
                    <h2>Your Cart</h2>
                    <p><span class="itemcountcart">0</span> Items</p>
                </div>
                <div id="insidecartitems">
                    <!-- <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p> -->

                </div>
                <div>
                    <a href="home.html"><img src="../icons/thin-long-arrow-left-icon.png" alt="">Back To Shop</a>
                </div>
            </div>

            <div class="right">
                <div>
                    <h2>Order Summary</h2>
                </div>
                <div>
                    <p>ITEMS <span class="itemcountsummary">0</span></p>
                    <p>&#8377 <span class="total">____</span></p>
                </div>
                <div>
                    <div>
                        <label for="address">SHIPPING TO</label>
                    </div>
                    <div><select name="myAddress" id="address">
                            <option value="" selected>Address1</option>
                            <option value="">Address2</option>
                            <option value="">Add New Address</option>
                        </select>
                    </div>
                    <div>
                        <label for="promocode">PROMO CODE</label>
                    </div>
                    <div><input type="text" id="promocode" name="myPromocode" placeholder="PROMOCODE"></div>
                </div>
                <div>
                    <p>DISCOUNT</p>
                    <p>&#8377 <span class="discountgot">____</span></p>
                </div>
                <div>
                    <p>TOTAL</p>
                    <p>&#8377 <span class="grandtotal">____</span></p>
                </div>
                <div>
                    <button id="order">Place Order</button>
                </div>

            </div>
        </div>
        </div>
    </section>

    <button id="cart" class="">
        CART
        <p>2</p>
    </button>

</body>
<script src="../JS/home.js"></script>

</html>