<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thegardenofeat'n.com</title>

    <!--
        - custom css link
    -->
    <link rel="stylesheet" href="/CSS/index.css">

    <!--
        - fontawesome link
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!-- <header>
        <div id="left">
            <div id="name">
                <h2>the <span> garden </span> of eat'n</h2>
            </div>
            <div class="chef-photo">
                
            </div> -->
            <!-- <div class="animation">
                <div>
                    <div class="plate">

                    </div>
                    <div class="cup">
                        <div class="top">
                            <div class="circle">
                                <div class="tea">
                                </div>
                            </div>
                            <div class="vapour">
                                <span style="--i:1;"></span>
                                <span style="--i:3;"></span>
                                <span style="--i:16;"></span>
                                <span style="--i:5;"></span>
                                <span style="--i:13;"></span>
                                <span style="--i:20;"></span>
                                <span style="--i:6;"></span>
                                <span style="--i:7;"></span>
                                <span style="--i:10;"></span>
                                <span style="--i:8;"></span>
                                <span style="--i:17;"></span>
                                <span style="--i:11;"></span>
                                <span style="--i:12;"></span>
                                <span style="--i:14;"></span>
                                <span style="--i:2;"></span>
                                <span style="--i:9;"></span>
                                <span style="--i:15;"></span>
                                <span style="--i:18;"></span>
                                <span style="--i:4;"></span>
                                <span style="--i:19;"></span>
                            </div>
                        </div>
                        <div class="handle">

                        </div>
                    </div>
                </div>
            </div> -->
        <!-- </div>
        <div id="right">
            <div id="navbar">
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/about-us">about us</a></li>
                    <li><a href="/book-table">book a table</a></li>
                    <li><a href="/contact-us">contact us</a></li>
                    <li><a href="/join-us">join us</a></li>
                    <li><a href="/login">login</a></li>
                    <li><a href="/signup">sign up</a></li>
                </ul>
            </div>
            <div id="promo">
                <div>
                    <p>Find best quality food aroud you</p>
                </div>
                <div>
                    <a href="#">order now</a>
                </div>
                <div>
                    <div>
                        <p>sign up to get exciting offers</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="features">
        <div class="diary">
            <img src="../Icons/diary-icon.png" alt="">
            <h2>No Minimum Order</h2>
            <p>Order in for yourself or for the group, with no restrictions on order value</p>
        </div>
        <div class="location">
            <img src="../Icons/address-location-icon.png" alt="">
            <h2>Live Order Tracking</h2>
            <p>Know where your order is at all times, from the restaurant to your doorstep</p>
        </div>
        <div class="delivery">
            <img src="../Icons/food-delivery-icon.png" alt="">
            <h2>Lighting-Fast Delivery</h2>
            <p>Experience our superfast delivery for food delivered fresh & on time</p>
        </div>
    </section>

    <section id="aboutus">
        <div class="head">
            <div class="heading">
                <p>about us</p>
            </div>
        </div>
        <div class="aboutbody">
            <div>
                <div>
                    <p>Since our modest beginnings in 2005 our Organisation's development has been enlivened with the energy to cook and serve Indian-roused takeout food. In contrast to other Indian eateries, our organisation was made with the explicit expectation to appear as something else. We realise numerous individuals love Indian sustenance, yet a large number of them loathe or are unconscious of the regularly unfortunate fixings that make run-of-the-mill Indian nourishment taste so great.</p>
                </div>
                <div class="photo">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa distinctio minus asperiores. Eum atque debitis delectus quod quos commodi nemo reiciendis, mollitia odit eaque cum vitae natus error animi tempore quisquam suscipit, eveniet tempora aliquid nihil eligendi recusandae facere alias!</p>
                    <div>
                        <img src="../Icons/username-icon.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <p>Our menu highlights things that utilize the sound and fragrant flavors. We have developed to incorporate four superb takeout with additional to come sooner rather than later. Our group takes pride in the way that we can furnish our new and faithful clients with extraordinary tasting Indian-roused nourishment that is not normal for that some other Indian eateries you visit.</p>
                </div>
                <div>
                    <p>We perceive that a few people are as yet searching for run-of-the-mill Indian nourishment, and that is fine with us. Our disclaimer is that on the off chance that you are anticipating overwhelming, slick, undesirable Indian nourishment, our organisation is the place for you.

                        Our expectation is that you will join the developing pattern that such a large number of others have officially found that you will attempt our organisation as a remarkable option to other Indian eateries as well as to all other alternatives out there.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="contactus" class="contact">
        <div class="contact-head">
            <h2>Contact Us</h2>
        </div>

        <div class="contact-details">
            <div class="address">
                <div>
                    <h2>Address</h2>
                    <p>The Garden of Eat'n</p>
                    <p>Co-operative Society Ltd: No. 2406</p>
                    <p>786, MP Nagar, Bhopal, India-495677.</p>
                    <p class="phone">+91 489 636 8989</p>
                    <p class="email">Thegardenofeat'n@gmail.com</p>
                </div>
            </div>

            <div class="social-links">
                <div>
                    <h2>Follow Us On</h2>
                </div>
                <div>
                    <a href="https://facebook.com" target="_blank"><abbr title="facebook"><img src="../Icons/facebook.svg" alt=""></abbr></a>
                    <a href="https://instagram.com" target="_blank"><abbr title="instagram"><img src="../Icons/instagram.svg" alt=""></abbr></a>
                    <a href="https://twitter.com" target="_blank"><abbr title="twitter"><img src="../Icons/twitter.svg" alt=""></abbr></a>
                    <a href="https://pinterest.com" target="_blank"><abbr title="pinterest">    <img src="../Icons/pinterest.svg" alt=""></abbr></a>
                </div>

            </div>
        </div>

    </section>

    <footer>
        Copyright &copy <span id="foot"></span> Thegardenofeat'n.com All Rights Reserved
    </footer> -->

    <!--
        - PRELOAD
    -->
    <div class="preload" data-preload>
        <div class="circle"></div>
        <p class="text">TheGardenOfEat'n</p>
    </div>

    <!--
        HEADER
    -->

    <header class="header" data-header>
        <div class="container">

            <a href="#" class="logo">
                <img src="/BackgroundImages/header-chef.png" width="40" height="auto" alt="logo">
                <p>TheGardenOfEat'n </p>
            </a>


            <div class="hamburger-icon" data-nav-toggler>
                <p></p>
                <p></p>
                <p></p>
            </div>

            <nav class="navbar hide" data-navbar>

                <ul class="navbar-list">

                    <li class="navbar-items">
                        <a href="#" class="navbar-link active">
                            <i class="fa-solid fa-house"></i>home
                        </a>
                    </li>

                    <li class="navbar-items">
                        <a href="#" class="navbar-link active">
                            <i class="fa-solid fa-chalkboard-user"></i>about us
                        </a>
                    </li>

                    <li class="navbar-items">
                        <a href="#" class="navbar-link booking active">
                            <i class="fa-solid fa-utensils"></i>book a table
                        </a>
                    </li>

                    <li class="navbar-items">
                        <a href="#" class="navbar-link active">
                            <i class="fa-solid fa-handshake-simple"></i>join us
                        </a>
                    </li>

                    <li class="navbar-items">
                        <a href="#" class="navbar-link active">
                            <i class="fa-solid fa-phone"></i>contact
                        </a>
                    </li>

                    <li class="navbar-items login-signup-bar">
                        <div>
                            <button class="login">login</button>
                            <button class="signup">sign up</button>
                        </div>
                    </li>

                </ul>

                <div class="text-center">
                    <p class="healine-1 visit-us">Visit us</p>

                    <address class="body-4">
                        Co-operative Society Ltd: No. 2406 <br>
                        786, MP Nagar, Bhopal, India-495677
                    </address>

                    <a href="mailto:thegardenofeat'n@gmail.com" class="email-link"><i class="fa-solid fa-at"></i>Thegardenofeat'n@gmail.com</a>

                    <a href="tel:+91 489 636 8989" class="body-1 contact-number"><i class="fa-solid fa-phone"></i>+91 489 636 8989</a>
                </div>

            </nav>

        </div>

    </header>

</body>

<script src="/JS/indexPage.js"></script>

</html>