<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/joinus.css  ">
    <title>Thegardenofeat'n.com | Join Us</title>
</head>

<body>
    <header>
        <div id="name">
            <h2>the <span> garden </span> of eat'n</h2>
        </div>
        <div id="navbar">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/aboutus">about us</a></li>
                <li><a href="#">book a table</a></li>
                <li><a href="/contactus">contact us</a></li>
                <!-- <li><a href="#">join us</a></li> -->
                <li><a href="/login">login</a></li>
                <li><a href="/signup">sign up</a></li>
            </ul>
        </div>
    </header>

    <section class="chef">
        <div>Chef</div>
        <div>
            <div>
                <p>find a geat opportunity in your chef career</p>
                <p>join us and explore the world of food making</p>
                <form action="/">
                    <div>
                        <label for="myname">Name:</label>
                    </div>
                    <div>
                        <input type="text" placeholder="Name" id="myname">
                    </div>
                    <div>
                        <label for="mobile">Mobile Number:</label>
                    </div>
                    <div>
                        <input type="text" placeholder="Mobile Number" id="mobile">
                    </div>
                    <div>
                        <p>Gender:</p>
                        <label for="male1">Male <input type="radio" id="male1" value="male" placeholder="Male"
                                name="gender"></label>
                        <label for="female1">Female <input type="radio" id="female1" value="female"
                                name="gender"></label>
                        <label for="other1">Other <input type="radio" id="other1" value="other" name="gender"></label>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="img1">
                <img src="../BackgroundImages/men-chef-1514505_1920.png" alt="">
            </div>
        </div>
    </section>

    <section class="delivery">
        <div>delivery boy</div>
        <div>
            <div>
                <p>find a geat opportunity in your chef career</p>
                <p>join us and explore the world of food making</p>
                <form action="index.html">
                    <div>
                        <label for="myname">Name:</label>
                    </div>
                    <div>
                        <input type="text" placeholder="Name" id="myname">
                    </div>
                    <div>
                        <label for="mobile">Mobile Number:</label>
                    </div>
                    <div>
                        <input type="text" placeholder="Mobile Number" id="mobile">
                    </div>
                    <div>
                        <p>Gender:</p>
                        <label for="male2">Male <input type="radio" id="male2" value="male" placeholder="Male"
                                name="gender"></label>
                        <label for="female2">Female <input type="radio" id="female2" value="female"
                                name="gender"></label>
                        <label for="other2">Other <input type="radio" id="other2" value="other" name="gender"></label>
                    </div>
                    <div>
                        <p>Age Group:</p>
                        <label for="group1">18-30 <input type="radio" id="group1" name="agegroup"></label>
                        <label for="group2">30-40 <input type="radio" id="group2" name="agegroup"></label>
                        <label for="group3">40-50 <input type="radio" id="group3" name="agegroup"></label>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="img2">
                <img src="../BackgroundImages/movers-24402_1920.png" alt="">
            </div>
        </div>
    </section>

    <footer>
        Copyright &copy <span id="foot"></span> Thegardenofeat'n.com All Rights Reserved
    </footer>

</body>

<script>
    // FOOTER COPYRIGHT YEAR DISPLAY

    let foot = document.getElementById('foot');
    let date = new Date();
    let year = date.getFullYear();
    foot.innerHTML = year;
</script>

</html>