
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Berkshire+Swash&family=Montserrat:wght@100;400;500;600;700;800;900&family=Roboto:wght@400;500&family=Bebas+Neue&family=Luckiest+Guy&display=swap');


::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: grey;
    border: 3px solid black;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover{
    background: #eee;
}


body,
html {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    background-color: #444;
    overflow: hidden;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a{
    color: black;
}

/* LEFT PART  */

/* #left{
    width: 24vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 4rem auto;
    background-color: black;
} */

/* HEADER STYLING */

header{
    /* border: 1px solid yellow; */
    width: 100vw;
    height: 4rem;
    display: grid;
    grid-template-columns: 4rem 30vw calc(70vw - 4rem - 15px);
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    box-shadow: -10px 0px 5px 0px rgba(255, 255, 255, 0.5);
}

/* HAMBURGER ICON  */

.hamburger-icon{
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-icon > div{
    width: 2.5rem;
    height: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 0.5rem 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000;
}
.hamburger-icon > div:hover{
    background-color: #1f1f1f;
}

.hamburger-icon p{
    width: 100%;
    height: 1px;
    color: white;
    background-color: white;
    transition: 0.2s ease;
}
.rotate1{
    transform: rotate(-45deg);
    position: relative;
    top: 2.5px;
}
.rotate2{
    transform: rotate(45deg);
    position: relative;
    bottom: 2.5px;
}
.display-none{
    display: none;
}


/* RESTAURANT NAME  */

#name{
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    padding: 0.5rem;
}

#name h3{
    -webkit-text-fill-color: white;
    text-transform: capitalize;
    font-family: 'Berkshire Swash', cursive;
    pointer-events: none;
    font-size: 1.5rem;
}

#name h3 span{
    font-size: 1.5rem;
    background: linear-gradient(90deg, yellow, rgb(11, 226, 11), yellow, rgb(11, 226, 11));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Berkshire Swash', cursive;
}


/* SEARCH SECTION STYLING */

.search{
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: centerf;
    background-color: black;
    padding-left: 5%;
}

.search label{
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.search input{
    width: 20rem;
    height: 2rem;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 15px;
    border-right: 1px solid grey;
}

.search input:-webkit-autofill,
.search input:-webkit-autofill:hover, 
.search input:-webkit-autofill:focus{
    box-shadow: 0px 0px 1000px 0px white inset;
    font-size: 15px;
}

.search label>div{
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
    padding: 0 0.5rem;
    cursor: pointer;
    color: white;
}
.search label>div:hover{
    background-color: #222;
}


/* Search Dropdown */

.search-dropdown > div::-webkit-scrollbar{
    width: 15px;
}
.search-dropdown > div::-webkit-scrollbar-track{
    border-radius: 10px;
    background: #222;
}
.search-dropdown > div::-webkit-scrollbar-thumb{
    border: 4px solid #222;
    border-radius: 10px;
    background: grey;
}


.search .search-dropdown {
    position: absolute;
    top: 3.5rem;
    padding: 5px;
    padding-right: 1px;
    margin-right: 3rem;
    width: 20rem;
    max-height: 19rem;
    z-index: 2;
    box-shadow: 0px 0px 8px 0px black;
    background-color: #222;
    transition: 0.2s ease height;
    border-radius: 10px;
}

.search-dropdown > div {
    /* border: 1px solid white; */
    width: 100%;
    max-height: calc(19rem - 1rem);
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 0rem 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-dropdown > div > a {
    /* border: 1px solid black; */
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.5;
    padding: 5px 1.5rem;
    border-radius: 7px;
}

.search-dropdown > div > a:hover {
    background-color: #111;
}

.search-dropdown .no-item-found-msg{
    width: 100%;
    text-transform: capitalize;
    color: grey;
    position: relative;
    font-size: 20px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.search-dropdown p.no-item-found-msg.display-none{
    display: none;
}
.search-dropdown .no-item-found-msg > img{
    width: 4rem;
    filter: grayscale(100%);
}



/* BOTTOM SECTION  */

#bottom-section {
    /* border: 1px solid white; */
    width: 100vw;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 21vw 79vw;
    align-items: center;
}



/* LEFT SECTION  */

#left{
    width: 100%;
    height: 100%;
    position: relative;
}


/* OVERLAP SECTIONS */

#left>section{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* SIDEBAR LINKS SECTION  */

.sidebarLinks{
    width: 100%;
    height: calc(100vh - 4rem);
    background-color: black;
    overflow: scroll;
    overflow-x: hidden;
}

.sidebarLinks>p:first-child{
    border-bottom: 1px solid grey;
    color: white;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-transform: capitalize;
    font-size: 14px;
    margin: 0.5rem 1rem;
}
.sidebarLinks>p:first-child>i{
    font-size: 20px;
}

.sidebarLinks>ul{
    background-color: black;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 0.5rem 1rem;
    /* padding-bottom: 2rem; */
}

.sidebarLinks>ul>li{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: black;
}

.sidebarLinks a, .sidebarLinks button{
    width: 100%;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    padding: 0.7rem;
    padding-left: 2rem;
    border-radius: 10px;
    background-color: #1f1f1f;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebarLinks form {
    width: 100%;
}

.sidebarLinks button{
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}
.sidebarLinks button:hover{
    background-color: #ddd;
}

.sidebarLinks a:hover{
    background-color: #2f2f2f;
}

.profile, .logout{
    margin-top: 1rem;
}

/* COPYRIGHT */

.copyright{
    width: 100%;
    margin: 1.5rem 0;
}
.copyright>p{
    color: grey;
    font-size: 15px;
    text-transform: capitalize;
    text-align: left;
    padding-left: 1rem;
}


/* MENU SECTION STYLING */

.menu-section::-webkit-scrollbar{
    width: 20px;
}
.menu-section::-webkit-scrollbar-track{
    background: #000;
    border: 1px solid black;
}
.menu-section::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: grey;
    border: 5px solid #000;
    background-clip: padding-box;
    margin: 5px;
}
.menu-section::-webkit-scrollbar-thumb:hover{
    background: #aaa;
}


.menu-section{
    z-index: 2;
    left: 0;
    width: 100%;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #000;
    transform: translate(0);
    transition: 0.4s ease transform;
    padding: 0.5rem 0.5rem 1rem 1rem;
}

.menu-display-none{
    transform: translateX(-330px);
}

.menu-section > h2 {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    font-size: 20px;
}
.menu-section > h2 > i{
    font-size: 25px;
}

.menu-section > div{
    padding: 0.5rem 0 0;
}
.menu-section > div:last-child{
    border: none;
}

.menu-section>div>div{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    background-color: #FFECD6;
}
.menu-section > div > div:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.menu-section h3{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 18px;
}
.menu-section h3 > a{
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

.menu-section > div > div > div{
    display: flex;
    align-items: start;
    gap: 5px;
}
.menu-section > div > div > div > a{
    color: black;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 15px;
}
.menu-section > div > div > div > i{
    color: black;
    font-size: 5px;
    position: relative;
    top: 9px;
}

.menu-section > div > div > div >a:hover{
    text-decoration: underline;
}



/* RIGHT PART STYLING */

#right{
    width: 100%;
    height: calc(100vh - 4rem);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #090909;
}


/* Advertisement section  */

.advertisement{
    /* border: 1px solid white; */
    width: 100%;
    padding: 1rem 1rem 1.5rem;
    margin: 0rem 0;
    background-color: #090909;
}

.advertisement > h3 {
    color: #FFECD6;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
    padding: 1rem 0.5rem 1rem;
    font-family: 'Luckiest Guy', sans-serif;
}

.container {
    /* border: 1px solid white; */
    width: 100%;
    position: relative;
}

.slide-button{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #750E21;
    box-shadow: 0 0 5px 0 #000;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.slide-button#prev-slide{
    left: -0.8rem;
    display: none;
}
.slide-button#next-slide{
    right: -0.8rem;
}

.items-wrapper .items-list {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(9, 1fr);
    overflow-x: auto;
}

.items-wrapper .items-list::-webkit-scrollbar {
    display: none;
}

.items-wrapper .items-list .items{
    width: 200px;
    height: 200px;
    background-color: #FFECD6;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    position: relative;
}
.items-wrapper .items-list .items.cake{
    padding-top: 1rem;
}
.items-wrapper .items-list .items.pancake{
    padding-top: 2.5rem;
}
.items-wrapper .items-list .items.muffin{
    padding-top: 1.5rem;
}

#right .items > img.items-img {
    width: 180px;
    filter: drop-shadow(0px 10px 10px 0px black);
}

#right .items > p{
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    bottom: 1rem;
}


/* food-items styling */

.food-container{
    /* border: 1px solid blue; */
    width: 100%;
    padding: 1.5rem 1rem 1rem;
}

.food-container h3 {
    width: fit-content;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 6px;
    gap: 10px;
    cursor: pointer;
    background-color: #111;
}
.food-container h3 i{
    font-size: 15px;
}

.food-container div.food-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 260px));
    padding: 1rem 0rem;
    gap: 1rem;
    margin-bottom: 2rem;
}
.food-container > div:last-child > div.food-wrapper{
    margin-bottom: 0rem;
}

.food-container div.food-wrapper > div{
    height: 250px;
    padding: 1rem;
    background-color: #FFECD6;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 10px;
}

.food-container .food-wrapper figure {
    border: 4px solid #163020;
    background-color: #222;
    width: 110px;
    height: 110px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.food-container .food-wrapper img{
    width: 100px;
    object-fit: cover;
}

.food-container .food-wrapper p.name{
    height: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.food-container .food-wrapper p.price{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
}
.food-container .food-wrapper p.price i{
    font-size: 14px;
    font-weight: 700;
}

.food-container .food-wrapper button {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: #750E21;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}
.food-container .food-wrapper button:active {
    transform: scale(0.98);
}


/* assets styling */

.display-none{
    display: none;
}