
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Berkshire+Swash&family=Montserrat:wght@100;400;500;600;700;800;900&family=Roboto:wght@400;500&display=swap');


::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: grey;
    border: 3px solid black;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover{
    background: #eee;
}


body,
html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    /* height: 100vh; */
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: black;
}

body::after{
    content: "";
    background: url(../BackgroundImages/bgimage\ \(2\).jpg) no-repeat center center/cover;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* HEADER STYLING */

header{
    /* border: 2px solid red; */
    width: 100%;
    height: 4rem;
    display: grid;
    grid-template-columns: 400px auto;
    align-items: center;
    position: fixed;
    padding: 0 0.5rem;
    top: 0;
    background-color: rgba(0, 0, 0, 1);
    z-index: 3;
}

#name{
    /* border: 1px solid white; */
    /* width: calc(100% - 2rem); */
    font-size: 1.5rem;
    display: flex;
    justify-content: left;
    align-items:last baseline ;
    padding: 0.5rem;
    position: relative;
    z-index: 2;
}

#name h3{
    margin-left: 3rem;
    outline-width: 2px;
    outline-color: black;
    position: relative;
    text-align: center;
    -webkit-text-fill-color: white;
    text-transform: capitalize;
    font-family: 'Berkshire Swash', cursive;
    pointer-events: none;
}

#name h3 span{
    position: relative;
    background: linear-gradient(90deg, yellow, rgb(11, 226, 11), yellow, rgb(11, 226, 11));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Berkshire Swash', cursive;
}

#navbar{
    /* border: 1px solid white; */
    background-color: black;
    z-index: 3;
}

#navbar ul{
    display: flex;
    justify-content: right;
    align-items: center;
}

#navbar li{
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    border-radius: 10px;
}

#navbar a{
    /* border: 1px solid green; */
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

#navbar a:hover{
    background-color: #1f1f1f;
}

#navbar li:last-child{
    background: linear-gradient(to right, rgb(135, 200, 235), rgb(135, 175, 235), rgb(135, 150, 235));
}

#navbar li:last-child a{
    color: black;
    font-weight: 600;
    transform: scale(1);
}

#navbar li:last-child:hover a{
    background: linear-gradient(to left, rgb(135, 200, 235), rgb(135, 175, 235), rgb(135, 150, 235));
}

/* FORM SECTION */

.container{
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 6.5rem;
    width: 60%;
    display: grid;
    grid-template-columns: 55% auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.container>div{
    /* border: 1px solid black; */
    padding: 3rem;
}

.container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container form>p{
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.container form>input{
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    font-size: 15px;
}

.container form>div>p{
    color: red;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.container form>button{
    padding: 0.6rem 1rem;
    border: 1px solid orange;
    border-radius: 8px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 1rem;
    color: orange;
    cursor: pointer;
    background-color: rgb(255, 145, 0);
    color: white;
}

.container form>button:hover{
    background-color: white;
    color: rgb(255, 140, 0);
}

/* RIGHT PART  */

.right{
    background: url(../BackgroundImages/coffee-meet\ \(1\).jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.right>p{
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}
.right>p>a{
    color: white;
    text-decoration: underline;
}

/* FOOTER STYLING */

footer{
    position: relative;
    /* background-color: #000; */
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 2.6rem;
    padding: 0.6rem;
    font-size: 14px;
}

footer span{
    color: white;
    font-size: 14px;
}
